<div class="header">
  <ul>
    <div class="hbtn">
      <li><a href="#header" class="hBtn">Nintendo</a></li>
    </div>

    <div class="hbtn3">
      <li><a href="#mu1" class="hBtn2">Nintendo 소개</a></li>
      <li><a href="#mu2" class="hBtn3">Switch 가격</a></li>
      <li><a href="#mu3" class="hBtn3">플레이 모드</a></li>
      <li><a href="#mu4" class="hBtn3">닌텐도 3DS</a></li>
      <li><a href="#mu5" class="hBtn3">소프트웨어</a></li>
      <li><a href="#mu6" class="hBtn3">고객지원</a></li>
    </div>
  </ul>
</div>
