{% extends './base.html' %}


{% block content %}

<div class="header">    
    <div class="hbtn">
        <button class="hBtn">Nintendo</button>
    </div>


    <div class="hbtn2">
        <button class="hBtn2">Nintendo</button>
    </div>

    <div class="hbtn3">
        <div class="hBtn3">닌텐도 3DS</div>
        <div class="hBtn3">소프트웨어</div>
        <div class="hBtn3">고객지원</div>
    </div>
</div>


<div style="width: 1400px; height: 500px;  display: flex; flex-direction: row; align-items: center; justify-content: center; margin-top: 30px;">
    <img src="https://cdn02.nintendo-europe.com/media/images/08_content_images/systems_5/nintendo_switch_3/not_approved_1/NintendoSwitchLiteBB.png"/>
</div>

<div class="desc">
    <p>작고, 가볍고, 가지고 다니기 편한 휴대 전용 Nintendo Switch.</p>
</div>
    
{% endblock content %}
    