<body>
  <div id="mu4" style="height: 100vh">
    <div class="desc">
      <p>3D를 즐기거나, 휴대가 간편하거나, 특별한 소프트웨어로 꾸미거나,</p>
      <p>취향에 따라 다양한 본체를 선택할 수 있습니다.</p>
    </div>

    <div class="img_wrap">
      <div class="img_box">
        <img
          width="400"
          height="400"
          src="https://www.nintendo.co.kr/images/renew/3ds/new3ds/nintendo_new_3ds_xl.png"
        />

        <div class="img_desc">
          <p>new Nintendo 3DS XL</p>
        </div>
      </div>

      <div class="img_box1">
        <img
          width="400"
          height="400"
          src="https://www.nintendo.co.kr/images/renew/3ds/new2ds/about_new2dsXL.png"
        />

        <div class="img_desc">
          <p>new Nintendo 2DS XL</p>
        </div>
      </div>

      <div class="img_box2">
        <img
          width="400"
          height="400"
          src="https://nintendo.co.kr/images/renew/3ds/main/goods_etc.png"
        />

        <div class="img_desc">더 다양한 3DS 시리즈</div>
      </div>
    </div>
  </div>
</body>
