<body>
  <div id="mu6" style="height: 100vh">
    <div class="support">
      <p>고객지원</p>
    </div>

    <div class="img_wrap">
      <div class="box1-1">
        <img
          width="420"
          height="200"
          src="https://www.pngkit.com/png/full/152-1521245_titanone-nintendoswitch-nintendo-switch.png"
        />

        <div class="img_desc">
          <p>Nintendo Switch</p>
        </div>
      </div>

      <div class="box1-1">
        <img
          width="400"
          height="350"
          src="https://drakemall-files-new.s3.eu-central-1.amazonaws.com/Nintendo-cjks0nbvw000o01n6t3sfxsjr.png"
        />

        <div class="img_desc">
          <p>닌텐도 3DS 시리즈</p>
        </div>
      </div>
    </div>
  </div>
</body>
